.layout {
  display: flex;
  height: 100vh;
}

.Rsidebar {
  position: fixed;
  right: 0;
  width: 220px;
  color: rgb(0, 0, 0);
  padding: 20px;
}

.Rtitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.Rmenu {
  list-style: none;
  padding: 0;
}

.Rmenu li {
  margin: 15px 0;
  cursor: pointer;
}

.Rmenu li:hover {
  color: #1abc9c;
}