.layout {
  display: flex;
  height: 100vh;
  /* 화면 전체 높이 */
  position: fixed;
}

.sidebar {
  width: 220px;
  color: white;
  padding: 20px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.menu a {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

.menu li {
  text-decoration: none;
  margin: 15px 0;
  cursor: pointer;
}

.menu li:hover {
  color: #1abc9c;
}